/*.mapa{
    padding-bottom: 50px;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    background-position:center center;
    background-size:cover;
}


.contact-form-area on-bg {
    min-height:1080px;
}


.counter_text{
        font-size:100px;
        font-weight:bold;
        text-align:center;
        } 


.destinos{
    color: white;
    text-align: right;
}



.container{
    margin-left: 250px;
}
*/

    
